<!DOCTYPE html>
<html class="html">
<head>
    <meta charset="utf-8">
    <link rel='stylesheet' href='css/meet.css' type='text/css' media='all' />
    <link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico">
    <title>{{PRIVACY_POLICY_NAME}}</title>
</head>
<body class="body">
    <main class="meet-main">
        <a name="top"></a>
        <section class="meet-section">
            <article class="meet-article">
                <h1>{{PRIVACY_POLICY_NAME}}</h1>
                <h2>Informationen zum Daten­schutz</h2>
                <p>Mit dieser Datenschutzerklärung möchten wir (im folgenden „Anbieter“) Sie als NutzerIn über den Umfang der Erhebung personenbezogener Daten bei Aufruf und Nutzung unserer  Internetseiten informieren. Ferner werden der Zweck der Datenerhebung und deren Verwendung bzw. Verarbeitung (Artikel 4, DSGVO) dargestellt.</p>
                <h3>Verantwortlicher im Sinne des Art. 4 (DSGVO)</h3>
                <address class="meet-address">
                    <strong>Björn Englert GmbH</strong><br />
                    vertreten durch: Björn Englert<br />
                    Singerstraße 33<br />
                    10243 Berlin<br />
                    <a href="mailto:webmaster@bjoern-englert.com">webmaster@bjoern-englert.com</a><br />
                    Telefon: +49 30 28 09 33 60<br />
                </address>
                <p>Die Regelungen zum Datenschutz finden sich insbesondere in der Datenschutzgrundverordnung (DSGVO).</p>
                <h3>Rechtsgrundlagen</h3>
                <p>Unsere Datenschutzerklärung erfolgt nach Vorgabe des Art. 13 DSGVO nachdem wir verpflichtet sind, Sie als NutzerIn über den Umfang und die Verwendung der von uns erhobenen und verarbeiteten personenbezogenen Daten zu informieren.</p>
                <p>Die Rechtmäßigkeit der Verarbeitung personenbezogener Daten regelt Artikel 6 der DSGVO, wobei bei Nutzung dieses Internetangebotes und bei Kontaktaufnahme mit uns, vor allem Art. 6a und 6b für die Verarbeitung ihrer personenbezogenen Daten von großer Bedeutung sind. Darüber hinaus kann es erforderlich sein, dass wir Ihre Daten verarbeiten, um eine rechtliche Verpflichtung zu erfüllen (Art. 6c). Weitere Punkte sind in Artikel 6 der DSGVO geregelt.</p>
                <h3>Begrifflichkeiten</h3>
                <p>Zu den in unserer Datenschutzerklärung verwendeten Begriffen verweisen wir auf die Begriffsdefinitionen in Artikel 4 der DSGVO, von denen wir hier die für unsere Datenschutzerklärung wichtigsten auszugsweise wiedergeben:</p>
                <ul>
                    <li>„Personenbezogene Daten“ sind alle Informationen, die sich auf eine identifizierte oder identifizierbare natürliche Person (im Folgenden „betroffene Person“) beziehen; als identifizierbar wird eine natürliche Person angesehen, die direkt oder indirekt, insbesondere mittels Zuordnung zu einer Kennung wie einem Namen, zu einer Kennnummer, zu Standortdaten, zu einer Online-Kennung oder zu einem oder mehreren besonderen Merkmalen, die Ausdruck der physischen, physiologischen, genetischen, psychischen, wirtschaftlichen, kulturellen oder sozialen Identität dieser natürlichen Person sind, identifiziert werden kann (Art. 4, Punkt 1, DSGVO).</li>
                    <li>„Verarbeitung“ bezeichnet jeden mit oder ohne Hilfe automatisierter Verfahren ausgeführten Vorgang oder jede solche Vorgangsreihe im Zusammenhang mit personenbezogenen Daten wie das Erheben, das Erfassen, die Organisation, das Ordnen, die Speicherung, die Anpassung oder Veränderung, das Auslesen, das Abfragen, die Verwendung, die Offenlegung durch Übermittlung, Verbreitung oder eine andere Form der Bereitstellung, den Abgleich oder die Verknüpfung, die Einschränkung, das Löschen oder die Vernichtung (Art. 4, Punkt 2, DSGVO).</li>
                    <li>„Auftragsverarbeiter“ ist eine natürliche oder juristische Person, Behörde, Einrichtung oder andere Stelle, die personenbezogene Daten im Auftrag des Verantwortlichen verarbeitet (Art. 4, Punkt 8, DSGVO).</li>
                    <li>„Einwilligung“ der betroffenen Person ist jede freiwillig für den bestimmten Fall, in informierter Weise und unmissverständlich abgegebene Willensbekundung in Form einer Erklärung oder einer sonstigen eindeutigen bestätigenden Handlung, mit der die betroffene Person zu verstehen gibt, dass sie mit der Verarbeitung der sie betreffenden personenbezogenen Daten einverstanden ist. (Art. 4, Punkt 11, DSGVO).</li>
                </ul>
                <h3>Zweck der Verarbeitung</h3>
                <p>Wir verarbeiten Ihre personenbezogenen Daten, um Ihnen unser Onlineangebot zur Verfügung stellen zu können sowie zur Bearbeitung von Kontaktanfragen und der Kommunikation mit Ihnen. Ferner erfolgt die Verarbeitung von Zugriffsdaten (siehe unten) auch zur Erhaltung der Sicherheit und Optimierung der Webseiten (z.B. für Fehlerbehebungen und Abwehr von mißbräuchlicher Nutzung).</p>
                <h3>Umfang und Art der Datenverarbeitung</h3>
                <p>Bei ausschließlichem Besuch unserer Internetseiten werden außer den Zugriffsdaten keine weiteren personenbezogenen Daten von Ihnen verarbeitet. Details zu den Zugriffsdaten erfahren Sie weiter unten.</p>
                <p>Wenn Sie mit dem Anbieter in Kontakt treten (z.B. per Email) werden Ihre Daten nur zum Zwecke der Durchführung dieser Kommunikation gespeichert und verarbeitet. Mit Übermittlung Ihrer Daten erteilen Sie dem Anbieter hierfür Ihre Einwilligung. Art und Umfang dieser Verarbeitung bestimmt sich durch die Art Ihrer Kontaktaufnahme. Wenn Sie eine einfache Kontaktanfrage per Email stellen, wird diese und der sich aus der Kommunikation ergebene Verlauf auf dem Emailserver unseres Hostingprovider gespeichert. Fordern Sie ein Angebot an und übermitteln Sie ferner Daten für die Angebotserstellung, werden Ihre übermittelten Daten in unserem Kalkulationssystem auf einem firmeninternen Rechner erfasst, um dort das Angebot zu erstellen und Ihnen zukommen zu lassen. Die jeweils verarbeiteten Daten werden Ablauf der jeweiligen gesetzlichen Aufbewahrungspflicht gelöscht, bzw. mit einem Sperrvermerk versehen.</p>
                <p>Zu den dabei erfassten personenbezogenen Daten zählen:</p>
                <ul>
                    <li>Kontaktdaten (z.B. Emailadressen, Telefonnummern, Postanschriften, AnsprechpartnerInnen)</li>
                    <li>Daten zur Firmierung (z.B. Handelsregisternummer, Steuernummern)</li>
                    <li>Stammdaten (z.B. Rechnungsanschrift, Vertragsanschrift, Lieferanschriften, Bankverbindungen)</li>
                    <li>Inhalte (z.B. von Ihnen übermittelte Dateien, Texte)</li>
                </ul>
                <h3>Zugriffsdaten und Cookies</h3>
                <p>Wir setzen auf unseren Webseiten keine Cookies ein. Ausnahmen bei bestimmten Diensten (z.B. <a href="#videokonferenzen">Videokonferenzen</a>) sind weiter unten beschrieben.</p>
                <p>Der Internetanbieter (Hostingprovider) des Anbieters erhebt Daten über jeden Zugriff auf die Webseiten (so genannte Serverlogfiles). Inhalt dieser Zugriffsdaten sind ihre IP-Adresse sowie die Adresse der zuvor besuchten Internetseite (sogenannter Referrer) und der Name Ihres Providers (Internetanbieter), das Datum und Uhrzeit des Abrufs, der Name der abgerufenen Webseite, die abgerufene(n) Datei(en) und die übertragene Datenmenge. Darüber hinaus werden in den Logfiles noch Name und Version ihres Webbrowsers sowie Name und Version des Betriebssystems gespeichert.</p>
                <p>Der Anbieter verwendet diese Protokolldaten nur für statistische Auswertungen zum Zweck des Betriebs, der Sicherheit und der Optimierung der Internetseiten (z.B. Fehlerbehebungen). Diese Daten werden nicht an Dritte (z.B. Werbenetzwerke) weitergegeben.</p>
                <p>Mit dem Hostingprovider unserer Internetseiten haben wir eine entsprechende Vereinbarung zur Auftragsverarbeitung (nach Art. 28 DSGVO) geschlossen.</p>
                <h3>Ihre Rechte</h3>
                <p>Ihnen stehen nach der DSGVO umfangreiche Rechte zu, über die wir Sie an dieser Stelle informieren möchten.</p>
                <p>Sie haben nach der DSGVO das Recht jederzeit, unentgeltlich Auskunft über die Verarbeitung Ihrer personenbezogenen Daten zu erlangen (Art. 15, DSGVO), diese korrigieren, einschränken oder löschen zu lassen (Abschnitt 3, Art. 16, 17 und 18 DSGVO) sofern nicht gesetzliche Regelungen (z.B. aus dem Handels- und Steuerrecht) und Regelungen der DSGVO dem entgegenstehen. Ferner steht Ihnen ein Recht zur Datenübertragbarkeit (Art. 20, DSGVO) zu. Desweiteren können Sie einer künftigen Verarbeitung Ihrer Daten nach Art. 21 DSGVO jederzeit durch Ausübung Ihres Widerspruchsrechts widerrufen.</p>
                <p>Bereits erteilte Einwilligungen zur Verarbeitung Ihrer personenbezogenen Daten können jederzeit von Ihnen widerrufen werden (Art. 7, DSGVO).</p>
                <p>Darüber hinaus haben Sie nach Art. 77 DSGVO das Recht, eine Beschwerde bei der zuständigen Aufsichtsbehörde einzureichen.</p>
                <p>Erteilte Einwilligung können Sie jederzeit widerrufen, ebenso erhalten Sie auf Anforderung unentgeltlich Auskunft zu den über Sie gespeicherten personenbezogenen Daten.</p>
                <p>Zur Wahrnehmung Ihrer Rechte gegenüber dem Anbieter nehmen Sie bitte Kontakt mit dem Verantwortlichen des Anbieters der Webseite (siehe oben) auf.</p>
                <h3>Sicherheitsmaßnahmen</h3>
                <p>Nach Vorgabe des Art. 32 DSGVO sind wir verpflichtet, Vorkehrungen zur Sicherheit der Verarbeitung zu treffen, um ein dem Risiko angemessenes Schutzniveau zu gewährleisten. Zur Sicherstellung dieses Schutzniveaus ziehen wir dabei den Stand der Technik, Kosten der Einrichtung/Umsetzung, Umfang, Umstände und Zwecke der Verarbeitung sowie die unterschiedlichen Wahrscheinlichkeiten des Eintretens eines sicherheitsrelevanten Ereignisses heran. Berücksichtigt werden dabei ebenso die Schwere des Risikos für die Rechte und Freiheiten ggfs. Betroffener Personen. Wir und unsere Auftragsverarbeiter treffen hierfür geeignete technische und organisatorische Maßnahmen. Zu diesen Maßnahmen zählen insbesondere die Sicherung der Vertraulichkeit, Integrität und Verfügbarkeit von Daten. sowie der Einsatz von Verschlüsselungstechnologien (bspw. SSL-Verschlüssung beim Aufruf der Webseiten).</p>
                <h3>Zusammenarbeit mit Dritten</h3>
                <p>Wenn wir nach denen in Artikel 6a, b DSGVO geregelten Fällen Daten an andere Personen und Unternehmen übermitteln, geschieht dies auf Basis eines Vertrags zur Auftragsverarbeitung. Grundlage hierfür ist Art. 28 der DSGVO.</p>
                <h3>Löschung von Daten</h3>
                <p>Wir löschen die von uns verarbeiteten Daten nach den Artikeln 17 und 18 der DSGVO, sofern keine gesetzlichen Aufbewahrungspflichten gelten bzw. diese abgelaufen sind., bzw. schränken die Verarbeitung der Daten nach Erfüllung ihres Zwecks während der Aufbewahrungsfristen ein.
                Die Logfiles die Seitens des Hostingproviders verarbeitet werden, sind dort für uns für einen Zeitraum von 2 Monaten abrufbar und werden danach vom Provider automatisch gelöscht.</p>
            </article>
            <hr class="meet-hr" />
            <article class="meet-article">
            <h2>Ihre Daten bei Teilnahme an <a name="videokonferenzen">Videokonferenzen</a></h2>
                <p>Wir betreiben auf einem Server mit Standort in Deutschland eine Instanz der OpenSource-Software JITSI (https://www.jitsi.org). Diesen Dienst nutzen wir als zusätzliches Angebot in der Kommunikation mit unseren Kunden:innen. Diesen Dienst können Sie daher nur nutzen, wenn Sie zuvor eine Einladung mit den Zugangsdaten von uns erhalten haben.</p>
                <p>Verbindungen vom Client zum Server, also von Ihrem Rechner zum Server, erfolgen verschlüsselt und sind damit vor dem unbefugten Zugriff Dritter geschützt. Auf dem von uns betriebenen Server werden diese Daten entschlüsselt und für die Teilnehmenden der Konferenz wiederum erneut verschlüsselt übertragen.</p>
                <p>Solange Sie an einer Konferenz teilnehmen, werden Video- und Mikrofonaufnahmen von Ihrem Computer an diesen Server übertragen und dort für alle anderen Teilnehmenden der Konferenz zugänglich gemacht.</p>
                <p>Sie können diese Übertragung jederzeit unterbinden, indem Sie während der Konferenzteilnahme in Ihrem Browser das Mikrofon und/oder die Kamera abschalten. <strong>Achten Sie bitte darauf, dass Sie durch Teilnahme an Videokonferenzen nicht Dritte (z.B. Familienangehörige oder Arbeitskolleg:innen) unbeabsichtigt mit übertragen.</strong></p>
                <p>Bei Nutzung des Videokonferenzdienstes werden Netzwerk- und Nutzungsdaten (z.B. temporäre Logdaten), darunter Ihre IP-Adresse, die URL der aufgerufenen Konferenz auf dem Server gespeichert. Der Video- und Audioinhalt wird während einer Konferenz vorübergehend auf dem Server gespeichert, um den Livestream zwischenzuspeichern.</p>
                <p>Wenn Sie während der Videokonferenz die Chat-Funktion verwenden, wird der Inhalt des Chats während der Besprechung auf dem Server gespeichert.</p>
            <h3>Teilnahme per Telefon</h3>
                <p>Sie haben die Möglichkeit, per Telefoneinwahl an einer Videokonferenz teilzunehmen. In diesem Fall werden lediglich Audiodaten (z.B. Sprache) übertragen. Die Datenübertragung erfolgt ebenfalls verschlüsselt. Zusätzlich zu diesen Daten werden als Metadaten auch Ihre Telefonnummer an den Konferenzserver übermittelt und in der Konferenz allen Teilnehmenden angezeigt. Sie können dies unterbinden, wenn Sie mit unterdrückter Rufnummer an der Konferenz teilnehmen.</p>
                <p>Bei Teilnahme über Telefon wird Ihre Rufnummer, sofern Sie diese nicht unterdrücken, vorübergehend auf unseren Servern gespeichert, um Ihre Rufnummer als Teilnehmer*innenname in der Konferenz anzuzeigen. </p>
            <h3>Logdaten</h3>
                <h3>In Logdateien werden gespeichert:</h3>
                    <h4>Bei jedem Aufruf unserer Webseiten:</h4>
                        <p>IP-Adresse des anfragenden Rechners, Datum, Uhrzeit, angeforderte URL, Erkennungsdaten des verwendeten Browser- und Betriebssystems (sofern vom anfragenden Webbrowser übermittelt)</p>
                    <h4>Bei Aufruf des Videokonferenzdienstes: </h4>
                        <p>Datum, Uhrzeit, IP-Adresse</p>
                    <h4>Bei Teilnahme per Telefon:</h4>
                        <p>Datum, Uhrzeit, Rufnummer</p>
                    <h4>Die Verarbeitung der Daten in den Logdateien geschieht wie folgt: </h4>
                        <p>Die Logeinträge werden ausgewertet, um Störungen des Dienstes oder Angriffe auf den Dienst zu erkennen und entsprechend reagieren zu können. In Einzelfällen, d.h. bei gemeldeten Störungen, Fehlern und Sicherheitsvorfällen wird manuell ausgewertet.</p>
                        <p>Mit dem Provider der Server haben wir eine Vereinbarung zur Auftragsverarbeitung (nach Art. 28 DSGVO) geschlossen.</p>
            <h3>Zugriffsdaten und Cookies</h3>
                <p>Beim direkten Aufruf des Videokonferenzdienstes, z.B. durch direkten Aufruf des Links, werden Cookies verwendet.</p>
                <p>Auf unseren Webseiten werden lediglich sogenannte Session-Cookies verwendet, welche für die Ausführung von Programmteilen der Webseite erforderlich sind. Sie werden nach Ende des Seitenbesuchs automatisch wieder gelöscht.</p>
                <p>Bei Videokonferenzen werden Cookies verwendet, um die Nutzer:innenanmeldung zu unterstützen. Das gesetzte Cookie dient der Überprüfung, ob der verwendete Browser Cookies unterstützt und speichert zudem Ihre Anmeldedaten (sogenanntes Session-Cookie), um eine erneute Eingabe zu vermeiden und einmal vorgenommene Einstellungen zu speichern. Gespeichert wird darüber hinaus auch der Name der gewählten Konferenz, das Datum und deren Dauer sowie der gewählte Benutzername, mit dem Sie anderen Teilnehmenden in der Videokonferenz angezeigt werden.</p>
                <p>Sie können den Einsatz von Cookies auf Ihrem Rechner unterbinden, wenn Sie Ihren Browser entsprechend einstellen. Konsultieren Sie hierzu am besten die Hilfe Ihres jeweiligen Internetbrowsers.</p>
                <p>Der von uns beauftragte Internetanbieter (Hostingprovider) erhebt Daten über jeden Zugriff auf unsere Webseiten (so genannte Serverlogfiles). Inhalt dieser Zugriffsdaten sind ihre IP-Adresse sowie die Adresse der zuvor besuchten Internetseite (sogenannter Referrer) und der Name Ihres Providers (Internetanbieter), das Datum und Uhrzeit des Abrufs, der Name der abgerufenen Webseite, die abgerufene(n) Datei(en) und die übertragene Datenmenge. Darüber hinaus werden in den Logfiles noch Name und Version ihres Webbrowsers sowie Name und Version des Betriebssystems gespeichert.</p>
                <p>Wir verwenden diese Protokolldaten nur für statistische Auswertungen zum Zweck des Betriebs, der Sicherheit und der Optimierung der Internetseiten (z.B. Fehlerbehebungen). Diese Daten werden <strong>nicht</strong> an Dritte (z.B. Werbenetzwerke) weitergegeben.</p>
                <p>Mit dem Hostingprovider unserer Internetseiten haben ich eine entsprechende Vereinbarung zur Auftragsverarbeitung (nach Art. 28 DSGVO) geschlossen. </p>
            </article>
            <nav>
                <form action="#top">
                    <button class="meet-button">nach oben</button>
                </form>
                <form action="https://{{FQDN}}">
                    <button class="meet-button">zurück</button>
                </form>
            </nav>
        </section>
    </main>
</body>
</html>